a:hover, a:focus{
	text-decoration: none;
	outline: none;
}
#accordion .panel{
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin: 40px 0 40px 0;
}
#accordion .panel-heading{
	padding: 0;
	border-radius: 30px;
}
#accordion .panel-title a{
	display: block;
	padding: 12px 20px 12px 50px;
	background: #85D18B;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	border: 1px solid transparent;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
	border-radius: 30px;
	position: relative;
	transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed{
	background: #fff;
	color: #0d345d;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.1);
}
#accordion .panel-title a.collapsed:hover{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 4px 8px 0 rgba(0,0,0,.1), 0 8px 16px 0 rgba(0,0,0,.1), 0 16px 32px 0 rgba(0,0,0,.1);
}
#accordion .panel-title a:after, #accordion .panel-title a.collapsed:after{
	content: "\f107";
	font-family: fontawesome;
	width: 55px;
	height: 55px;
	line-height: 55px;
	border-radius: 50%;
	background: #85D18B;
	font-size: 25px;
	color: #fff;
	text-align: center;
	border: 1px solid transparent;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
	position: absolute;
	top: -5px;
	left: -20px;
	transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:after{
	content: "\f105";
	background: #fff;
	color: #0d345d;
	border: 1px solid #ddd;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
}
#accordion .panel-body{
	padding: 20px 25px 10px 9px;
	background: transparent;
	font-size: 14px;
	color: #8c8c8c;
	line-height: 25px;
	border-top: none;
	position: relative;
}
#accordion .panel-body a:target{
	color: #444;
    cursor: pointer;
    text-decoration: none;
}
#accordion .panel-body a:hover{
	color: #1bc3fb;
}
#accordion .panel-body p{
	padding-left: 25px;
	border-left: 1px dashed #8c8c8c;
}